* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(12, 12, 12, 0.966);
  color: #fff;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #212121;
  color: #888;
  height: 70px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#logo {
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
}
.list-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.list-items a {
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 20px;
  transition: 0.3s ease;
}
.list-items a:hover {
  color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
}

.hero {
  background-image: url("/assets/bg.avif");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.main-des {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.side-des {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.btn {
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(6, 13, 73);
  color: #fff;
  box-shadow: 4px 0 10px rgb(112, 7, 98), 6px 0 10px rgb(73, 6, 64);
  cursor: pointer;
}
.explore h2 {
  font-size: 2.1rem;
  text-align: center;
}
.course {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 20px;
  padding: 10px 20px;
}
.course-one h3,
.course-two h3 {
  font-size: 1.5rem;
  margin: 20px 0;
}
.course-one,
.course-two {
  background-color: #464545d8;
  padding: 20px;
}
.course-one p,
.course-two p {
  margin-bottom: 10px;
  font-size: 17px;
}
.learn-more-btn {
  border: none;
  padding: 10px 20px;
  background-color: rgb(6, 13, 73);
  color: #fff;
  cursor: pointer;
}
.course-one:hover {
  box-shadow: 5px 2px 18px #fff;
  cursor: pointer;
}
.course-two:hover {
  box-shadow: 5px 2px 18px #fff;
  cursor: pointer;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #111;
  color: #ddd;
  padding: 40px 60px;
  flex-wrap: wrap;
}
.footer h2,
footer h3 {
  margin-bottom: 12px;
}
.footer-left {
  font-size: 14px;
  color: #aaa;
}
.footer-links ul,
.footer-socials ul {
  list-style-type: none;
}
.footer a:hover {
  color: #fff;
}
.footer a {
  color: #ddd;
  font-size: 14px;
}
.footer-bottom {
  background-color: #000;
  color: #888;
  text-align: center;
  font-size: 14px;
  padding: 12px;
}
.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-icons a {
  font-size: 30px;
  opacity: 1;
  transform: scale(1.3);
  transition: all 0.3s ease;
}
.social-icons a {
  opacity: 0.3;
}
.social-icons a:hover {
  opacity: 1;
  transform: (1.2);
  transition: all 0.5s ease;
}

.footer-links a {
  text-decoration: none;
  text-align: center;
}
.footer-left p {
  font-size: 14px;
  font-weight: bolder;
  padding: 5px;
}
/* about us */
.about-heading h2 {
  margin-top: 80px;
  font-size: 2.5rem;
  text-align: center;
}
.about-des,
.mission-container {
  margin: 20px 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  line-height: 30px;
}
.about-des p {
  margin: 10px 0;
}
.mission-container h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}
.mission-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
.founder-note {
  width: 300px;
  background-color: #aaa;
  color: #212121;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 500;
  box-shadow: 3px 5px 10px #aaa;
}
/* courses.html */
main h2 {
  margin-top: 80px;
  font-size: 2rem;
  text-align: center;
}
main > p {
  text-align: center;
  margin: 20px 0;
  font-style: italic;
}
.course-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 20px 40px;
  padding: 20px 30px;
}
.c-one,
.c-two {
  background-color: #212121;
  padding: 20px 50px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
  transition: all 0.3s ease;
}
.c-one:hover,
.c-two:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.course-container h3 {
  font-size: 1.7rem;
}
.full-detail {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  background-color: darkcyan;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 5px 0 10px rgb(109, 12, 12);
}
.full-detail:hover {
  background-color: rgb(109, 12, 12);
  box-shadow: 5px 0 10px darkcyan;
  color: #ddd;
}
/* apply.html */
main {
  margin-top: 90px;
}
main h3 {
  font-size: 2rem;
  text-align: center;
}
.form-container {
  width: 350px;
  background-color: #212121;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 2px 16px #6b6565;
}
form input {
  font-size: 15px;
  font-weight: 400;
  padding: 4px 8px;
}
#submit {
  border: none;
  border-radius: 5px;
  padding: 4px 18px;
  background-color: #000;
  color: floralwhite;
  cursor: pointer;
}
#submit:hover {
  background-color: crimson;
  color: aliceblue;
}
/* contact.html */
main {
  margin-top: 100px;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #333131;
  width: 300px;
  margin: 50px auto;
  box-shadow: 2px 2px 16px #aaa;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 40px;
  gap: 10px;
}
